{% extends 'base.html' %}

{% block title %}
    登录
{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <section>
        <div class="container container_login">
            <div style="width: 100%; text-align: center">
            <img style="height:100px; margin-top: 20px;"
             src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fcsp6kt%2FbtrEpBHGg8P%2FOeq6kOj6LD7yrMsaVPk9yK%2Fimg.png">
            </div>
            <hr>

            <div class="wrap_in">

                <form class="form-area" action="/sign-in/" method="post">
                    {% csrf_token %}
                    <div class="form-group mt-2 mb-2">
                        <input type="text" class="form-control" id="username" name="username" placeholder="ID">
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                    </div>

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="button_signin" style="text-align: center">
                        <button type="submit" class="btn_login">登录</button>
                        {% load socialaccount %}
                        <a class="btn_naver" href=" {% provider_login_url 'naver' %}">登录</a>
                        <a href="/sign-up" class="btn_to_signup">跳转到会员注册页面</a>
                    </div>
                </form>


            </div>
        </div>
        <script>

        </script>
    </section>
{% endblock %}